<!--New User registration page template-->


{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<h1>Register</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <d>
        {{wtf.form_field(form.username)}}
        {{wtf.form_field(form.email)}}
        {{wtf.form_field(form.phonenumber)}}
        {{wtf.form_field(form.password)}}
        {{wtf.form_field(form.password2)}}
        {{form.recaptcha }}
    </d>
    <p> <input class="btn btn-primary" type="submit" value="Register"></p>

</form>
{% endblock %}
