{% extends 'base.html'%}
{% block content%}
<section class="container">
   <a href={{ url_for('add_item') }}>
   <button class="add_button ">Add New Item</button>
   </a>
   <div class="row">
      <div class="col" >
         {% for item in itemz %}
         <ul id =round>
            <p>Item Name</p>
            <li>{{item.item_name}}</li>
            <br>
            <p>Quantity</p>
            <li>{{item.qty}}</li>
            <br>
            <p>Price</p>
            <li>{{item.price}}</li>
            <br>
         </ul>
         {% endfor %}
         <p> Total Amount of all Items is:</p>
         <p> {{sum1}}</p>
      </div>
   </div>
</section>
{% endblock %}